<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FrezerMouse</title>
    <link rel="stylesheet" href="styles/mystyle.css" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic:300,regular,500,600,700" rel="stylesheet" /> -->
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header-container _container">
          <div class="header-top">
            <a href="" class="header-top__logo"> FrezerMouse </a>
            <nav class="header-top__menu menu">
              <ul class="menu__list">
                <li class="menu__item">
                  <a href="/" class="menu_link">Главная</a>
                </li>
                <li class="menu__item">
                  <a href="/examples" class="menu_link">Примеры работ</a>
                </li>
                <li class="menu__item">
                  <a href="/contacts" class="menu_link">Контакты</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="header__bottom">
            <p>
              Данная программа позволяет нарисовать произвольные двухмерные
              траектории для гравировки на ЧПУ станке и вывести их в виде
              G-code. Задайте нужные параметры, создайте заготовку и начните
              рисовать!
            </p>
          </div>
        </div>
      </header>
      <main class="page">
        <div class="page-container _container">
          <div class="page-left left">
            <h2>Введите требуемые параметры:</h2>
            <div class="left__inputfields _z0">
              <h3>Положение нуля:</h3>
              <p>
                <input type="radio" name="Z" id="zStock" />
                Z0 на детали
              </p>
              <p><input type="radio" name="Z" id="zTable" checked />
                Z0 на столе</p>
            </div>

            <div class="left__inputfields _method-img">
              <h3>Метод ввода изображения:</h3>
              <p>
                <input type="radio" name="By" id="byMouse" checked />
                мышью
              </p>
              <p>
                <input type="radio" name="By" id="byPoints" />
                по точкам
              </p>
            </div>

            <div class="left__inputfields _params">
              <!-- <h3 class="params__header">Параметры:</h3> -->
              <div class="params-basic _left">
                <span class="params-basic__fields">Толщина заготовки:</span>
                <span class="params-basic__fields">Ширина заготовки:</span>
                <span class="params-basic__fields">Высота заготовки:</span>
                <span class="params-basic__fields">Частота вращения:</span>
                <span class="params-basic__fields">Рабочая подача:</span>
              </div>
              <div class="params-basic _center">
                <input
                  size="10"
                  class="params-basic__fields _params-input"
                  type="text"
                  id="stockThickness"
                  value="2"
                />
                <input
                  size="10"
                  id="stockWidth"
                  class="params-basic__fields _params-input"
                  type="text"
                  value="100"
                />
                <input
                  size="10"
                  id="stockHeight"
                  class="params-basic__fields _params-input"
                  type="text"
                  value="30"
                />
                <input
                  size="10"
                  class="params-basic__fields _params-input"
                  type="text"
                  id="rotations"
                  value="10000"
                />
                <input
                  size="10"
                  class="params-basic__fields _params-input"
                  type="text"
                  id="feed"
                  value="500"
                />
              </div>
              <div class="params-basic _right">
                <p class="params-basic__fields">мм</p>
                <p class="params-basic__fields">мм</p>
                <p class="params-basic__fields">мм</p>
                <p class="params-basic__fields">об/мин</p>
                <p class="params-basic__fields">мм/мин</p>
              </div>
            </div>
            <div class="left__inputfields _postproc">
              <h3>Постпроцессор:</h3>
              <select id="selectorCNC" class="selector" name="postproc">
                <option value="LinuxCNC">Linux 3axis</option>
                <option value="Fanuc">Fanuc 3axis</option>
              </select>
            </div>
            <div class="selectButtons">
              <button id="defenitionStock">Задать заготовку</button>
            </div>
          </div>
          <div class="page-right right">
            <!-- Changed "id" on "class"!!! -->
            <canvas class="right__drawField"></canvas>
            <div class="right-buttons">
              <div class="right-buttons__control">
                <button id="cancel">Отмена</button>
                <button id="clearField">Очистить поле</button>
                <button type="submit" id="getGcode">Сохранить G-code</button>
              </div>
            </div>
            <div class="contoursList" id="contours">
              <!-- <ul id="contours"></ul> -->
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <p>by HydroPes</p>
        <p>2022</p>
      </footer>
    </div>

    <script type="module" src="scripts/index.js"></script>
  </body>
</html>